### Instal Libraries

In [1]:
pip install mlxtend pandas plotly

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mlxtend in c:\users\hp\appdata\roaming\python\python312\site-packages (0.23.1)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: plotly in c:\programdata\anaconda3\lib\site-packages (5.22.0)
Requirement already satisfied: scipy>=1.2.1 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.13.1)
Requirement already satisfied: numpy>=1.16.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (3.8.4)
Requirement already satisfied: joblib>=0.13.2 in c:\users\hp\appdata\roaming\python\python312\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tenacity>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from plotly) (8.2.2)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from plotly) (23.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: pillow>=8 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

### Running the Apriori Algorithm on the Toy Dataset

In [3]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

toy_dataset = [['Skirt', 'Sneakers', 'Scarf', 'Pants', 'Hat'],
               ['Sunglasses', 'Skirt', 'Sneakers', 'Pants', 'Hat'],
               ['Dress', 'Sandals', 'Scarf', 'Pants', 'Heels'],
               ['Dress', 'Necklace', 'Earrings', 'Scarf', 'Hat', 'Heels', 'Hat'],
               ['Earrings', 'Skirt', 'Skirt', 'Scarf', 'Shirt', 'Pants']]

# Encoding the dataset
te = TransactionEncoder()
te_ary = te.fit(toy_dataset).transform(toy_dataset)
toy_df = pd.DataFrame(te_ary, columns=te.columns_)

In [33]:
# Apply apriori algorithm
frequent_itemsets = apriori(toy_df, min_support=0.1, use_colnames=True)

# Display results
frequent_itemsets

     support                                        itemsets
0        0.4                                         (Dress)
1        0.4                                      (Earrings)
2        0.6                                           (Hat)
3        0.4                                         (Heels)
4        0.2                                      (Necklace)
..       ...                                             ...
146      0.2         (Heels, Scarf, Earrings, Necklace, Hat)
147      0.2          (Scarf, Skirt, Earrings, Pants, Shirt)
148      0.2            (Scarf, Skirt, Pants, Hat, Sneakers)
149      0.2       (Skirt, Pants, Sunglasses, Hat, Sneakers)
150      0.2  (Heels, Scarf, Earrings, Necklace, Dress, Hat)

[151 rows x 2 columns]

In [34]:
# Generate association rules
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.6)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Dress),(Heels),0.4,0.4,0.4,1.0,2.50,0.24,inf,1.000000
1,(Heels),(Dress),0.4,0.4,0.4,1.0,2.50,0.24,inf,1.000000
2,(Necklace),(Dress),0.2,0.4,0.2,1.0,2.50,0.12,inf,0.750000
3,(Sandals),(Dress),0.2,0.4,0.2,1.0,2.50,0.12,inf,0.750000
4,(Dress),(Scarf),0.4,0.8,0.4,1.0,1.25,0.08,inf,0.333333
...,...,...,...,...,...,...,...,...,...,...
691,"(Hat, Earrings)","(Dress, Heels, Scarf, Necklace)",0.2,0.2,0.2,1.0,5.00,0.16,inf,1.000000
692,"(Dress, Necklace)","(Hat, Heels, Scarf, Earrings)",0.2,0.2,0.2,1.0,5.00,0.16,inf,1.000000
693,"(Hat, Necklace)","(Dress, Heels, Scarf, Earrings)",0.2,0.2,0.2,1.0,5.00,0.16,inf,1.000000
694,"(Dress, Hat)","(Heels, Scarf, Earrings, Necklace)",0.2,0.2,0.2,1.0,5.00,0.16,inf,1.000000
695,(Necklace),"(Heels, Scarf, Earrings, Dress, Hat)",0.2,0.2,0.2,1.0,5.00,0.16,inf,1.000000

In [35]:
# Open the groceries.csv file in read mode ('r')
with open("Market_Basket_Optimisation.csv", 'r') as file:
    
# Read the file line by line, strip any leading/trailing whitespace, 
# and split each line by commas to create a list of items (i.e., a transaction)
    data = [line.strip().split(',') for line in file]

# Display the first five transactions (each transaction is a list of items)
for transaction in data[:5]:
    print(transaction)

['shrimp', 'almonds', 'avocado', 'vegetables mix', 'green grapes', 'whole weat flour', 'yams', 'cottage cheese', 'energy drink', 'tomato juice', 'low fat yogurt', 'green tea', 'honey', 'salad', 'mineral water', 'salmon', 'antioxydant juice', 'frozen smoothie', 'spinach', 'olive oil']
['burgers', 'meatballs', 'eggs']
['chutney']
['turkey', 'avocado']
['mineral water', 'milk', 'energy bar', 'whole wheat rice', 'green tea']

In [36]:
# Create a one-hot encoded DataFrame for the items
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7500,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [37]:
# Apply apriori algorithm
frequent_itemsets = apriori(df, min_support=0.01, use_colnames=True)

# Display results
frequent_itemsets

      support                                 itemsets
0    0.020397                                (almonds)
1    0.033329                                (avocado)
2    0.010799                         (barbecue sauce)
3    0.014265                              (black tea)
4    0.011465                             (body spray)
..        ...                                      ...
252  0.011065       (milk, ground beef, mineral water)
253  0.017064  (ground beef, spaghetti, mineral water)
254  0.015731         (milk, spaghetti, mineral water)
255  0.010265    (olive oil, spaghetti, mineral water)
256  0.011465     (pancakes, spaghetti, mineral water)

[257 rows x 2 columns]

In [38]:
# Use the frequent itemsets to generate association rules.
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)

# Display the first few association rules
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(avocado),(mineral water),0.033329,0.238368,0.011598,0.348000,1.459926,0.003654,1.168147,0.325896
1,(mineral water),(avocado),0.238368,0.033329,0.011598,0.048658,1.459926,0.003654,1.016113,0.413630
2,(burgers),(cake),0.087188,0.081056,0.011465,0.131498,1.622319,0.004398,1.058080,0.420238
3,(cake),(burgers),0.081056,0.087188,0.011465,0.141447,1.622319,0.004398,1.063198,0.417434
4,(burgers),(chocolate),0.087188,0.163845,0.017064,0.195719,1.194537,0.002779,1.039630,0.178411

In [39]:
# Filter the rules to focus on those with high confidence or lift values.
strong_rules = rules[(rules['lift'] > 1) & (rules['confidence'] > 0.5)]

# Sort the rules by lift, in descending order
strong_rules = strong_rules.sort_values(by='lift', ascending=False)

# Display the filtered rules
strong_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
342,"(eggs, ground beef)",(mineral water),0.019997,0.238368,0.010132,0.506667,2.125563,0.005365,1.543848,0.540342
376,"(milk, ground beef)",(mineral water),0.021997,0.238368,0.011065,0.503030,2.110308,0.005822,1.532552,0.537969

## Suggested Business Plan Based on Findings

Loyalty Program Targeting:
Target loyalty program members who frequently buy milk, eggs, or ground beef with special offers or points when they buy mineral water, as this may increase their tendency to buy these products together.

Inventory and Stocking Strategies:
Given the higher likelihood of mineral water being purchased with these items, ensure sufficient stock levels for mineral water, especially if promotions or cross-promotions are running.

These strategies could help the supermarket improve sales of mineral water by leveraging its association with popular items like milk, eggs, and ground beef.